/* This is CSS for my Digital Portfolio as of 1/17/24 */

/* Responsive layout



/* Header Style */
.champion {
  background-color: #394046;
  background-image: url("Images/DigitalPortfolioTopBG.png");
  background-position: center;
  background-size: cover;
  background-repeat: repeat-y;
  height: 240px;
  line-height: 240px; 

}

.headerCust {
	background-image: url("Images/NamePortrait.png");
	text-align: center;
	color: black; 
	font-size: 20px; 
	background-position: 50% 8px; 
}


.farnPortrait {
	text-align: center;
	height: 200px;
	weight: 200px;
}

