body {
}

/* Header Style */
.champion {
  background-color: #394046;
  background-image: url("Images/DigitalPortfolioTopBG.png");
  background-position: center;
  background-size: cover;
  height: 240px;
  line-height: 240px; 

}

.headerCust {
	background-image: url("Images/NameSprite.png");
	text-align: center;
	background-position: 50% 8px; 
}