
/* Grid Stuff */

.navFlexContainer {
	display: flex; 
	padding: 0;
}

.navFlexContainer > li {
  flex: 1;
}

.aboutGrid {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-gap: 0px;
  padding: 0px;

}

.resumeGrid {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-gap: 0px;
  padding: 0px;
}

.sabGrid{
  display: grid;
  grid-template-areas:
    'header header'
    'intro intro'
    'work work'
    'footer footer';
}

.ldlGrid{
  display: grid;
  grid-template-areas:
    'header header'
    'intro intro'
    'ldl1 ldl1'
    'ldl2 ldl2';
}

.punchClockGrid{
  display: grid;
  grid-template-areas:
    'header header'
    'intro intro'
    'itemPC1 itemPC1'
    'itemPC2 itemPC2'
    'footer footer';
}

.itemHeader { grid-area: header; }

.itemIntro {
	grid-area: intro;
	display: flex;
	margin: auto;
	font-size: 20px;
}

.itemWork { 
	grid-area: work;
	display: flex;
	flex-direction: row; }
.itemWork2 {
	grid-area: work2;
	display: flex;
	flex-direction: column;
}
.itemWork3 {
	grid-area = work3;
	display: flex;
	flex-direction: row;
}

.itemLDL1 { 
	grid-area: ldl1;
	display: flex;
	flex-direction: row; }

.itemLDL2{
	grid-area: ldl2;
	display: flex;
	flex-direction: row;
}

.itemPC1 {
	grid-area = itemPC1;
	display: flex;
	flex-direction: row;
}

.itemPC2 { 
	grid-area: itemPC2;
	display: flex;
	flex-direction: row;
	font-size: 20px; }
.itemFooter { 
	grid-area: footer; 
	text-decoration-color: #000000;}
.itemMain { 
	grid-area: main;
	display: grid;
}










/* Normal stuff */

.h1{
    list-style-type: none;
    margin:0 auto;
    padding:0;
    text-align:center;
	overflow: hidden;
	height: 160px;
	background-image: url(FranGlackenImage.png);
}

.nav{  
    text-align:center;
    margin: auto;
	background-image: url("NavBarImage.png");
}

.nav ul li {
    display: grid;
    height:70px;
    text-align: center;
    width:20%;
    background-color: #003838;
	border: 2px solid #FFFFFF;
}


.nav a{
    display:inline-block;
    padding:11px;
	color: white;
	text-align: center;
	vertical-align: sub;
	text-decoration: none;
	font-size: 25px;
    
}

.nav li a:hover:not(.active) {background-color: #999;}

.nav li a.active {
	background-color: #FF0000;} 

.sabwrapper{
	display: block;
	border: 5px solid red;
	width: 500px;
	height: 400px; 
	/* line-height: 25px; */
}

.pclockScreenShotWrapper {
	margin: 12.5px;
	width: 230px;
	height: 480px;
}

.ldlScreenShotWrapper {
	margin: 8px;
	width: 480px;
	height: 280px;
}

.textWrapper {
	display: table;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	height: 100%;
	margin: 8px;
	padding: 30px;
	background-color: #003838;
}

.ldlTextWrapper > p{
	margin: 20px;
	text-align: center;
	border: 5px solid #FFFFFF;
}

#scriptImage {
  margin: 10px;
  width: 500px;
  height: 800px;
}

#resumeImage {
  margin: auto;
  margin-bottom: 16px;
}

#navSABItem {
	font-size: 20px; 
}

#navLDLItem {
	font-size: 20px; 
}

.customCursor {
  cursor: url(devilguy.png), auto;
}

/* Reset */


html {
	overflow: auto;

}

body{
	width: 100%;
    height: 100%;
	font-family: Verdana;
	background-image: url("bubbles.png");
	background-repeat: round;
	overflow: auto;
	display: block;
}

main{
	width: 1020px;
	background-image: url("NavBarImage.png");
	background-repeat: repeat;
	background-color: #b2c0c1;
	margin: auto;
}

h1 {
	text-align: center;
	width: 100%;
}






