/* This CSS file actually exists */

.itemHeader { grid-area: header; }
.itemWork { 
	grid-area: work;
	display: flex;
	flex-direction: column; }
.itemWork2 {
	grid-area: work2;
	display: flex;
	flex-direction: column;
}
.workNav {
	grid-area: workNav;
	display: flex;
}
.itemFooter { grid-area: footer; 
text-decoration-color: #000000;}
.itemMain { 
	grid-area: main;
	display: flex;
	flex-direction: row; 
}
#resumeImage {
  margin: auto;
}

.aboutGrid {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-gap: 0px;
  padding: 0px;

}

.myWorkGrid{
  display: grid;
  grid-template-areas:
    'header header'
    'workNav workNav'
    'work work2'
    'footer footer';

}

.resumeGrid {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-gap: 0px;
  padding: 0px;
}

.h1{
    list-style-type: none;
    margin:0 auto;
    padding:0;
    text-align:center;
	overflow: hidden;
	height: 200px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(FranGlackenImage.png);
}

.nav{ 
    list-style-type: none;
    margin:0 auto;
    padding:0;
    text-align:center;
	overflow: hidden;
	height: 50px;
	background-image: url("NavBarImage.png");
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 25px;
}

.nav li a:hover:not(.active) {background-color: #999;}

.nav li a.active {background-color: #003838;} 



.sabwrapper{
	display: block;
	border: 5px solid red;
	width: 500px;
	height: 400px; 
}
#aboutmewrapper{
	display: inline-block;
	font-size: 17px;
	width: 500px; 
	line-height: 25px; 
	margin-bottom: 1000px; 
	border: 5px solid red; 
}

/* Reset */


html {
	overflow: auto;

}

body{
	width: 100%;
    height: 100%;
	font-family: Verdana;
	background-image: url("LDTiles_Small.png");
	background-repeat: repeat;
	overflow: auto;
	display: block;
}

main{
	background-image: url("NavBarImage.png");
	background-repeat: repeat;
	background-color: #b2c0c1;
	margin-left: 180px;
	margin-right: 180px;
}

h1 {
	text-align: center;
	width: 100%;
}






